{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Первая страница</title>
    <link rel="stylesheet" href="{% static 'content/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="header__top-inner">
                    <div class="logo">Developer</div>
                    <nav class="menu">
                        <ul class="menu__list">
                            <li class="menu__list-item">
                                <a class="menu__link" href="#">Работы</a>
                            </li>
                            <li class="menu__list-item">
                                <a class="menu__link" href="#">Услуги</a>
                            </li>
                            <li class="menu__list-item">
                                <a class="menu__link" href="#">Процесс</a>
                            </li>
                            <li class="menu__list-item">
                                <a class="menu__link" href="#">Обо мне</a>
                            </li>
                            <li class="menu__list-item">
                                <a class="menu__link" href="#">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="sticker">
                        <a class="sticker__link" href="#" >
                            <img class="sticker__img" src="" alt="" >
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="header__content">
            <div class="container">
                <div class="header__content-inner">
                    <h1 class="header__content-title">Сайты на Тильде, которые убеждают и продают</h1>
                    <div class="header__content-description">Изучаем ваш бизнес. Узнаем, что важно клиентам, <br>
                        как вызвать доверие и довести до заявки или покупки</div>
                    <div class="header__content-button">
                        <div class="header__content-buttonup">
                            <button class="header__content-button--Telegram">Связаться в Telegram</button>
                            <button class="header__content-button--VideoCV">Видеопортфолио</button>
                        </div>
                        <div class="header__content-buttondown">
                            <button class="header__content-buttondown--all" id="all-button" onclick="allPictures()">Все</button>
                            <button class="header__content-buttondown--keysite" id="keysite-button" onclick="keysite()">Сайт под ключ</button>
                            <button class="header__content-buttondown--develop" id="develop-button" onclick="develop()">Разработка</button>
                            <button class="header__content-buttondown--design" id="design-button" onclick="design()">Дизайн</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="pictures">
        <div class="container">

            <div class="keysite" id="key-site">
                <img src="{% static 'content/img/Rectangle 13.png' %}" alt="" class="pictures__item img1">
                <img src="{% static 'content/img/Rectangle 18.png' %}" alt="" class="pictures__item img6">
            </div>

            <div class="develop" id="deve-lop">
                <img src="{% static 'content/img/Rectangle 16.png' %}" alt="" class="pictures__item img4" id="photoSun">
                <img src="{% static 'content/img/Rectangle 17.png' %}" alt="" class="pictures__item img5">
            </div>

            <div class="design" id="des-ign">
                <img src="{% static 'content/img/Rectangle 14.png' %}" alt="" class="pictures__item img2">
                <img src="{% static 'content/img/Rectangle 15.png' %}" alt="" class="pictures__item img3">
            </div>

            <div class="pictures__inner" id="all-pictures">
                <img src="{% static 'content/img/Rectangle 13.png' %}" alt="" class="pictures__item img1">
                <div class="pictures__itemtwo">
                    <img src="{% static 'content/img/Rectangle 14.png' %}" alt="" class="pictures__item img2">
                    <img src="{% static 'content/img/Rectangle 15.png' %}" alt="" class="pictures__item img3">
                </div>
                <img src="{% static 'content/img/Rectangle 16.png' %}" alt="" class="pictures__item img4" id="photoSun">
                <div class="pictures__itemtwo">
                    <img src="{% static 'content/img/Rectangle 17.png' %}" alt="" class="pictures__item img5">
                    <img src="{% static 'content/img/Rectangle 18.png' %}" alt="" class="pictures__item img6">
                </div>
            </div>
        </div>
    </div>
    <div class="about">
        <div class="container">
            <div class="about_inner">
                <div class="about_picture">
                    <img src="{% static 'content/img/Rectangle 554.png' %}" alt="">
                </div>
                <div class="about__desciption">
                    <h1>Designer & Developer</h1>
                    <p>
                        Меня зовут гигачад. За 3 года создания сайтов я основал свою студию, собрал людей, готовых к плотной работе.

                    </p>
                    <p>
                        Запустили лендинг и б2б продукт для UFC. Работали с ВШЭ и
                        МИЭМом. Запустили множество эвентовых проектов и
                        брендинг. Готовы забирать в команду лучших, прокачивать их
                        компетенции, и взращивать русское айти комьюнити.
                    </p>

                    <div class="about__boxes">
                        <div class="about_boxes1">
                            <p class="about_boxes--upsign">40+</p>
                            <p>Сайтов запустили</p>
                        </div>
                        <div class="about_boxes1">
                            <p class="about_boxes--upsign">100%</p>
                            <p>Выполнено
                                в срок</p>
                        </div>
                        <div class="about_boxes1">
                            <p class="about_boxes--upsign">10+</p>
                            <p>Лет
                                опыта</p>
                        </div>
                    </div>
                </div>
                <div class="about__box"></div>
            </div>
        </div>
    </div>
    <section class="services">
            <h1 class="services__title">Услуги</h1>
            {% if services|length == 1%}
                <ul class="services-list1">
                {% for el in services %}
                    <li class="services-card">
                        <p>{{forloop.counter}}</p>
                        <h3 class="s-title">{{el.title}}</h3>
                        <p class="s-description">
                            {{el.description}}
                        </p>
                        <p class="s-line">
                        </p>
                        <p class="s-price">
                            От {{el.cost}} ₽
                        </p>
                    </li>
                {% endfor %}
            {% elif services|length == 4%}
                    <ul class="services-list4">
                {% for el in services %}
                    <li class="services-card4">
                        <p>{{forloop.counter}}</p>
                        <h3 class="s-title">{{el.title}}</h3>
                        <p class="s-description">
                            {{el.description}}
                        </p>
                        <p class="s-line">
                        </p>
                        <p class="s-price">
                            От {{el.cost}} ₽
                        </p>
                    </li>
                {% endfor %}
            {% else %}
                    <ul class="services-list">
                    {% for el in services %}
                        <li class="services-card">
                            <p>{{forloop.counter}}</p>
                            <h3 class="s-title">{{el.title}}</h3>
                            <p class="s-description">
                                {{el.description}}
                            </p>
                            <p class="s-line">
                            </p>
                            <p class="s-price">
                                От {{el.cost}} ₽
                            </p>
                        </li>
                    {% endfor %}
            {% endif %}
<!--                <li class="services-card">-->
<!--                    <p>02</p>-->
<!--                    <h3 class="s-title">Веб-дизайн</h3>-->
<!--                    <p class="s-description">-->
<!--                        Если есть своя команда разработчиков или фрилансер.-->
<!--И нужен только дизайн сайта без разработки-->
<!--                    </p>-->
<!--                    <p class="s-line">-->
<!--                    </p>-->
<!--                    <p class="s-price">-->
<!--                        От 120 000 ₽-->
<!--                    </p>-->
<!--                </li>-->
<!--                <li class="services-card">-->
<!--                    <p>03</p>-->
<!--                    <h3 class="s-title">Арт-дирекшн</h3>-->
<!--                    <p class="s-description">-->
<!--                        Проконтролирую ваш отдел дизайна, выявлю недочеты в дизайне и процессах работы в команде. Помогу наладить коммуникацию-->
<!--                    <p class="s-line">-->
<!--                    </p>-->
<!--                    <p class="s-price">-->
<!--                        От 70 000 ₽-->
<!--                    </p>-->
<!--                </li>-->
            </ul>
    </section>
    <section class="cost">
        <h1 class="cost__title">Подсчет стоимости</h1>
        <div class="cost__blocks">
            <div class="cost__block1">
                <div class="cost__worktype_locations">
                    <select class="cost__worktype">
                    <option >Тип работы</option>
                    <option value="">Ленд</option>
                    <option value="">Интернет-магазин</option>
                </select>

                <select class="cost__worktype--grey">
                    <option>Насколько большой проект?</option>
                    <option value="">1 неделя</option>
                    <option value="">1 месяц</option>
                </select></div>

            <div class="cost__mark">
                <input type="checkbox" class="cost__mark_checkbox"><text class="cost__mark_text">Да, я слышал про осеннюю школу.
                    Интересно а после нее будет егэ?</text></input>
            </div>
            <button id="cost-button" class="cost__count" onclick="calculateCost()">
                Рассчитать стоимость
            </button>
        </div>
            <div class="cost__block2" id="cost-block2">
                <h2>Примерный подсчет</h2>
                <div class="cost__cost">
                    <p class="cost__costtext">Стоимость</p>
                    <p class="cost__price">От 120 000 ₽</p>
                </div>
                <div class="cost__deadline">
                    <p class="cost__deadlinetext">Примерные сроки</p>
                    <p class="cost__long">14 рабочих дней</p>
                </div>
                <button class="cost__cv">
                    Обсудить проект
                </button>
            </div>
        </div>
    </section>
    <section>
        <div class="QAcontainer">
            <h1 class="QA__title">Вопрос-ответ</h1>
            <div class="QA__blocks">
                <button class="QA__block">
                    <div class="QA__block_allcontent">

                        <div class="QA__block_titleplus">
                            <div class="QA__block_text" id="QA-block-text">Делаете только дизайн?</div>
                            <img src="{% static 'content/img/free-icon-plus-2549959.png' %}" alt="" class="plus">
                        </div>
                        <div class="QA__block_content">
                            <p>Тильда уже давно перестала быть просто конструктором. Сейчас на платформе разрабатывают уникальные лендинги и даже небольшие интернет магазины.
                            </p><br>
                                <p>А еще:</p>
                                <ul class="QA__ul">
                                    <li>Не нужен программист, тильдой легко управлять</li>
                                    <li>Можно менять контент самому без помощи специалиста</li>
                                    <li>Можно подключить разные сервисы, формы (телеграм, мейлчамп, crm)</li>
                                    <li>Адекватные цены тарифов</li>
                                </ul>
                        </div>
                    </div>
                </button>


                <button class="QA__block">
                    <div class="QA__block_allcontent">
                        <div class="QA__block_titleplus">
                            <div class="QA__block_text" id="QA-block-text">Почему тильда</div>
                            <img src="{% static 'content/img/free-icon-plus-2549959.png' %}" alt="" class="plus">
                        </div>
                        <div class="QA__block_content">
                            <p>Тильда уже давно перестала быть просто конструктором. Сейчас на платформе разрабатывают уникальные лендинги и даже небольшие интернет магазины.
                            </p><br>
                                <p>А еще:</p>
                                <ul class="QA__ul">
                                    <li>Не нужен программист, тильдой легко управлять</li>
                                    <li>Можно менять контент самому без помощи специалиста</li>
                                    <li>Можно подключить разные сервисы, формы (телеграм, мейлчамп, crm)</li>
                                    <li>Адекватные цены тарифов</li>
                                </ul>
                        </div>
                </div>
                </button>
                <button class="QA__block">
                    <div class="QA__block_allcontent">
                        <div class="QA__block_titleplus">
                            <div class="QA__block_text" id="QA-block-text">Какие сроки?</div>
                            <img src="{% static 'content/img/free-icon-plus-2549959.png' %}" alt="" class="plus">
                        </div>
                        <div class="QA__block_content">
                            <p>Тильда уже давно перестала быть просто конструктором. Сейчас на платформе разрабатывают уникальные лендинги и даже небольшие интернет магазины.
                            </p><br>
                                <p>А еще:</p>
                                <ul class="QA__ul">
                                    <li>Не нужен программист, тильдой легко управлять</li>
                                    <li>Можно менять контент самому без помощи специалиста</li>
                                    <li>Можно подключить разные сервисы, формы (телеграм, мейлчамп, crm)</li>
                                    <li>Адекватные цены тарифов</li>
                                </ul>
                        </div>
                    </div>
            </button>
                <button class="QA__block">
                    <div class="QA__block_allcontent">
                        <div class="QA__block_titleplus">
                            <div class="QA__block_text" id="QA-block-text">Как происходит оплата?</div>
                            <img src="{% static 'content/img/free-icon-plus-2549959.png' %}" alt="" class="plus">
                        </div>
                        <div class="QA__block_content">
                            <p>Тильда уже давно перестала быть просто конструктором. Сейчас на платформе разрабатывают уникальные лендинги и даже небольшие интернет магазины.
                            </p><br>
                                <p>А еще:</p>
                                <ul class="QA__ul">
                                    <li>Не нужен программист, тильдой легко управлять</li>
                                    <li>Можно менять контент самому без помощи специалиста</li>
                                    <li>Можно подключить разные сервисы, формы (телеграм, мейлчамп, crm)</li>
                                    <li>Адекватные цены тарифов</li>
                                </ul>
                        </div>
                    </div>
            </button>
                <button class="QA__block" >
                    <div class="QA__block_allcontent">
                        <div class="QA__block_titleplus">
                            <div class="QA__block_text" id="QA-block-text">Сколько правок можно внести?</div>
                            <img src="{% static 'content/img/free-icon-plus-2549959.png' %}" alt="" class="plus">
                        </div>
                        <div class="QA__block_content">
                            <p>Тильда уже давно перестала быть просто конструктором. Сейчас на платформе разрабатывают уникальные лендинги и даже небольшие интернет магазины.
                            </p><br>
                                <p>А еще:</p>
                                <ul class="QA__ul">
                                    <li>Не нужен программист, тильдой легко управлять</li>
                                    <li>Можно менять контент самому без помощи специалиста</li>
                                    <li>Можно подключить разные сервисы, формы (телеграм, мейлчамп, crm)</li>
                                    <li>Адекватные цены тарифов</li>
                                </ul>
                        </div>
                    </div>
                </button>

                <button class="QA__block">
                    <div class="QA__block_allcontent">
                        <div class="QA__block_titleplus">
                            <div class="QA__block_text" id="QA-block-text">Работаете со срочными проектами?</div>
                            <img src="{% static 'content/img/free-icon-plus-2549959.png' %}" alt="" class="plus">
                        </div>
                        <div class="QA__block_content">
                            <p>Тильда уже давно перестала быть просто конструктором. Сейчас на платформе разрабатывают уникальные лендинги и даже небольшие интернет магазины.
                            </p><br>
                                <p>А еще:</p>
                                <ul class="QA__ul">
                                    <li>Не нужен программист, тильдой легко управлять</li>
                                    <li>Можно менять контент самому без помощи специалиста</li>
                                    <li>Можно подключить разные сервисы, формы (телеграм, мейлчамп, crm)</li>
                                    <li>Адекватные цены тарифов</li>
                                </ul>
                        </div>
                    </div>
            </button>
            <div>
        </div>
    </section>
    <section>
        <div class="requset__container">
        <h1 class="request__title">Оставьте заявку</h1>
        <div class="request__title--bold">Я сам напишу вам, и сообщу все детали</div>
            <div>
            {% if success %}
                <div class="requset__container_success-title-border">
                    <strong class="requset__container_success-title">Ваша форма успешно отправлена!</strong>
                </div>
            {% endif %}
            </div>
        <div class="request__block">
            <form class="requset__block_container" action="" method="post">
                   {% csrf_token %}
<!--            <input class="request_smth">-->
                    {{form.name}}
                    {{form.service}}
                    {{form.email}}
                    {{form.message}}
<!--            <div class="requset__block_container">-->
<!--            <input placeholder="Почта" class="request_smth1"></div>-->
<!--            <div class="requset__block_container">-->
<!--            <input  placeholder="Услуга"class="request_smth1"></div>-->
<!--            <div class="requset__block_container-comment">-->
<!--            <input placeholder="Комментарий" class="request_smth1&#45;&#45;comments"></div>-->
<!--            <div class="requset__block_container">-->
            <button href="#" type="submit" class="request__button">Отправить</button>
                <span>{{error}}</span>
            </form>
        </div>
    </div>
    </section>
    <!-- Ctrl + / - комментарии -->
    <!-- <p class="text" id="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A quas recusandae omnis,
        repellendus illo perspiciatis! Vitae voluptates mollitia consectetur ex similique
        commodi repellat officiis, quia architecto eligendi accusamus ducimus enim!</p>
    <h1 id="had" class="head">Заголовок 1</h1>
    <h2>Заголовок 2</h2>
    <h3>Заголовок 3</h3>
    <a href="https://big-i.ru/liderstvo/lidery/828642">Майнор</a>
    <img src="https://i.ytimg.com/vi/lv1u7UU3PLg/maxresdefault.jpg" alt="Krosh">
    <img src="img/smeshariki.jpg" alt="Ezhik">
    <ol>
        <li>Текст</li>
        <li>Текст</li>
        <li>Текст</li>
        <li>Текст</li>
    </ol>
    <ul>
        <li>Текст</li>
        <li>Текст</li>
        <li>Текст</li>
        <li>Текст</li>
    </ul>
    <button>Кнопка</button>
    <input type="text" value="имя">
    <div class="container">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing
            elit. Ex illo consequatur <span>omnis quidem</span>at laborum esse
            ducimus velit aliquid ipsa sapiente neque accusantium aliquam cum,
            provident nulla? Ipsum, quia.</p>
    </div>
    <section></section>
    <footer></footer>
    <!-- nav - навигация по странице или по сайту -->
    <!-- <nav></nav>  -->

    <script src="{% static 'content/js/script.js' %}"></script>
</body>
</html>
